body{
    background-color: hsl(148, 38%, 91%);
    box-sizing: border-box;
}

#submit{
    background-color: hsl(169, 82%, 27%);
    color: white;
}
input{
    width: 15em;
    height: 2em;
    border: 0.1em solid hsl(186, 15%, 59%);
    border-radius: 0.5em;
    width: 10em;
}
input[type="radio"], input[type="checkbox"]{
    width: 11em;
    height: 1.5em;
    border: 0.1em solid hsl(186, 15%, 59%);
    border-radius: 0.5em;
}
#generalenquiry{
    border: 0.1em solid hsl(186, 15%, 59%);
    border-radius: 0.5em;
}
form{
    background-color: white;
    max-width: fit-content;
    max-height: fit-content;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    color: hsl(187, 24%, 22%);
    margin-top: 0;
}
label{
    color: hsl(187, 24%, 22%);
    font-size: 16px;
}
label{/*https://fonts.google.com/selection/embed*/
        font-family: "Karla", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
}
h1 {
    font-family: "Karla", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
}
fieldset{
    border-radius: 0.5em;
   
}
textarea{
    width: 10em;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input, textarea{
    font-family: inherit;
    font-size: 100%;
    width: 10em;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}