body{
    background-color: hsl(148, 38%, 91%);
}
#submit{
    background-color: hsl(169, 82%, 27%);
    color: white;
}
input{
    width: 15em;
    height: 2em;
    border: 0.1em solid hsl(186, 15%, 59%);
    border-radius: 0.5em;
}
input[type="radio"], input[type="checkbox"]{
    width: 15em;
    height: 2em;
    border: 0.1em solid hsl(186, 15%, 59%);
    border-radius: 0.5em;
}
#generalenquiry{
    border: 0.1em solid hsl(186, 15%, 59%);
    border-radius: 0.5em;
}
form{
    background-color: white;
    width: fit-content;
    
}
h1{
    color: hsl(187, 24%, 22%);
}
label{
    color: hsl(187, 24%, 22%);
    font-size: 16px;
}
label{/*https://fonts.google.com/selection/embed*/
        font-family: "Karla", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
}
h1 {
    font-family: "Karla", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
}